<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Application</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{styles/todoList.css}" rel="stylesheet" />
</head>
<body>
<h1 >Todo Application</h1>

<!-- Button to Open Add Todo Modal -->
<button type="button" class="btn btn-primary addTodoButton" data-toggle="modal" data-target="#addTodoModal" >Add Todo</button>

<!-- Add Todo Modal -->
<div class="modal fade" id="addTodoModal" tabindex="-1" role="dialog" aria-labelledby="addTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTodoModalLabel">Add Todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add Todo Form -->
        <form th:action="@{/todos}" method="post">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required><br>

          <label for="description">Description:</label>
          <textarea id="description" name="description"></textarea><br>

          <label for="priority">Priority:</label>
          <select id="priority" name="priority">
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
          </select><br>

          <label for="dueDate">Due Date:</label>
          <input type="date" id="dueDate" name="dueDate" required><br>

          <input type="submit" value="Add Todo" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Display Existing Todos -->
<!--<h2>Todo List</h2>-->
<div th:if="${not #lists.isEmpty(todos)}">
  <ul class="todo-list">
    <li th:each="todo : ${todos}" class="todo-item" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 10px; margin-right: 40px; margin-left: 40px">
      <div style="margin-bottom: 5px;">
        <form th:action="@{/todos/update/complete/{id}(id=${todo.id})}" method="post"
              style="display: inline;">
          <div type="hidden" name="completed" th:value="${todo.id}" >
            <input type="checkbox" th:checked="${todo.completed}" name="completed"
                   onchange="updateTodoStatus(this)" style="margin-right: 5px;" />
            <span class="title" style="font-weight: bold;" th:text="${todo.title}"></span>
          </div>

          <script>
            function updateTodoStatus(checkbox) {
                var form = checkbox.closest('div');
                console.log(form);
                var todoId = form.getAttribute('value');
                console.log(todoId);
                var completedInput = form.querySelector('input[name="completed"]');
                completedInput.value = checkbox.checked;

                var xhr = new XMLHttpRequest();
                var params = "completed=" + checkbox.checked;
                xhr.open('POST', '/todos/update/complete/' + todoId, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(params);

                // Optional: You can remove the following lines if you don't want to update the status text immediately
                //var statusElement = checkbox.parentNode.querySelector(".status");
                //statusElement.textContent = checkbox.checked ? 'Status: Complete' : 'Status: Incomplete';
            }
          </script>
        </form>
      </div>




      <div style="margin-bottom: 5px;">
        <span class="description" th:text="${todo.description}"></span>
      </div>
      <div style="margin-bottom: 5px;">
        <span class="priority" th:text="${'Priority: ' + todo.priority}" style="color: #007bff;"></span>
      </div>
      <div style="margin-bottom: 5px;">
        <span class="due-date" th:text="${'Due Date: ' + todo.dueDate}" style="color: #28a745;"></span>
      </div>
      <div style="margin-bottom: 5px;">
        <span id="status-id" class="status" th:text="${todo.completed ? 'Status: Complete' : 'Status: Incomplete'}"></span>
      </div>
      <div style="margin-bottom: 5px;">
        <span class="creation-date" th:text="${'Creation Date: ' + todo.creationDate}" style="color: #6c757d;"></span>
      </div>
      <div>
        <!-- <a th:href="@{'/todos/update/' + ${todo.id}}" style="text-decoration: none; color: #007bff; margin-right: 10px;">Edit</a> -->
        <!-- Delete form -->
        <form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="post"
              id="deleteTodoForm${todo.id}" style="display: inline;">
          <input type="hidden" name="todoId" th:value="${todo.id}">
          <button type="button" onclick="confirmDelete(this)"
                  style="background-color: #dc3545; color: #fff; border: none;
                   border-radius: 3px; padding: 5px 10px; cursor: pointer;">Delete</button>
        </form>

        <script>
          function confirmDelete(button) {
              var form = button.closest('form');
              var hiddenInput = form.querySelector('input[name="todoId"]');
              var todoId = hiddenInput.value;

              if (confirm('Are you sure you want to delete this todo?')) {
                  form.submit();
              }
          }
        </script>




      </div>
    </li>



  </ul>
</div>
<div th:if="${#lists.isEmpty(todos)}">
  <p>No todos found.</p>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
